<nb-card>
    <nb-card-body>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/empty.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Contributor: Nelson Issac</p>
              <p class="card-text">Image Name: Birds</p>
              <p class="card-text">Total Downloads: 60</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </nb-card-body>
</nb-card>